{% extends '_templates/base.njk' %}

{% block page_title %}Chart History{% endblock %}

{% block page_description %}A chart of the top Queen songs.{% endblock %}

{% block content %}
<article class="container">
    <h1 class="mb-4"><b>Queen on the Charts</b></h1>

    <iframe title="" aria-label="Table" id="datawrapper-chart-3uBuf" src="https://datawrapper.dwcdn.net/3uBuf/2/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="936" data-external="1"></iframe>
    <script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r,i=0;r=e[i];i++)if(r.contentWindow===a.source){var d=a.data["datawrapper-height"][t]+"px";r.style.height=d}}}))}();</script>
</article>
{% endblock %}