{% extends '_templates/base.njk' %}

{% block page_title %}British Rock Band{% endblock %}

{% block content %}
<div class="container">
    <h1>About the website</h1>
    <p>Whether you're a fan, casual listener, or just stopping by,  this is your go-to destination for discovering one of Britain's most legendary rock bands, including its members, discography, upcoming tour dates, and chart history.</p>

    <h3>Members of Queen</h3>

    <div class="row row-cols-1 row-cols-md-2 g-4 row-cols-lg-4">
        {% for member in queen.members %}
        <div class="col">
            <div class="card text-bg-dark h-100">
                <img src="img/members//{{ member.imagebw }}" class="card-img-top" alt="Queen Member">
                <div class="card-body">
                    <h5 class="card-title">{{ member.name }}</h5>
                    <a href="members/{{ member.slug }}.html" class="card-link text-warning">More about {{ member.name }}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}