// Custom variable overrides
// See node_modules/bootstrap/scss/_variables.scss

// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

$body-bg: #ededed;

/* bootstrap */
// Option A: Include all of Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// Option B: Include parts of Bootstrap
// See https://getbootstrap.com/docs/4.1/getting-started/theming/#importing

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";

// Import partials
@import 'nav';

@import "jumbotron";

h1.display-5 {
  font-family: "Lora", serif;
}

h1, h3, a.navbar-brand {
  font-family: "Spectral", serif;
}

h5, h6, li, a, p, th, td {
  font-family: "Karla", serif;
}

h5.card-title {
  font-weight: 700;
}

li {
  list-style-type: square;
}

a.card-link:link {
  text-decoration: none;
}

a.card-link:hover {
  text-decoration: underline;
}

a.card-link:visited {
  text-decoration: none;
}